ejercicio_1.exe
ejercicio_2.exe
ejercicio_3.exe
ejercicio_4.exe
ejercicio_5.exe
ejercicio_6.exe
ejercicio_7.exe
ejercicio_8.exe
pseudocodigo/
a/
mada/
practicas/boxeo_funciones_arreglos.c
practicas/boxeo_funciones_arreglos.exe
practicas/boxeo.exe